
html,body{
    background-color: black;
}

h1 {
    color: white;
	display: inline; 
	font-family: 'Source Code Pro', helvetica, sans-serif;
	font-size: 50px;
	position: relative;
    top: 40% !important;
    letter-spacing: 7px;
    -webkit-font-smoothing: antialiased;
    
}

.name {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}